.Rproj.user
.Rhistory
.RData
.Ruserdata
temp
archived
journal_article_altmetrics.Rmd
data/otherservers
data/journal_article_altmetrics_20200101_20200430.csv
data/preprint_tweets_20190901_20200430.csv
tweet_wordcloud.html
tweet_wordcloud_files